<header>
  <div class="container-fluid">
    <%= image_tag "light_logo.png", height: '50px' %>
  </div>
</header>

<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="answerModalLabel">Raw Response</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <code class="answer-raw">
          <%= @raw_response %>
        </code>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="spinnerModal" tabindex="-1" aria-labelledby="spinnerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" style="width: 150px;">
    <div class="modal-content">
      <div class="modal-body" style="padding: 50px;">
        <%= image_tag 'spinner.png', width: '50px', class: 'rotate' %>
      </div>
    </div>
  </div>
</div>

<div class="video-container" style="background: linear-gradient(rgb(13, 37, 67) 0%, rgb(9, 13, 19) 100%);">
  <!-- <video autoplay loop class="object-cover bg-video" src="<%= asset_url("world.mp4") %>"></video> -->
  <!-- <video autoplay loop class="bg-video" src="https://app.presentations.ai/docs/doclist/assets/images/world.mp4"></video> -->

  <video autoplay muted loop id="myVideo" class="bg-video" >
    <source src="<%= asset_url("world.mp4") %>" type="video/mp4">
  </video>
</div>

<%= form_tag documents_path, method: :post, id: 'document-form' do %>

  <div class="main-container">
    <div class="upload-container">
      <p class="title">Upload a file to get started!</p>
      <p class="subtitle">Click on browse button and upload a document/invoice for demo.</p>
      <div class="btn-container">
        <div class="browse-button">
          <%= button_tag 'Browse', class: 'upload-btn', id: 'upload-btn' %>
          <%= file_field_tag :file, class: 'hidden', id: 'file' %>
        </div>
      </div>

      <% if @raw_response %>
        <div class="hr-line"></div>
        <div class="response-container">
          <span class='answer-label'>You have uploaded a document of type: </span><span class="answer-box" id='document-type'><%= @document_type %></span>
        </div>
        <div class="response-container">
          <span class="subtitle"><%= link_to 'Click here', '#', data: { target: '#answerModal', toggel: 'modal' }, id: 'click-here' %> to view raw response.
        </div>
      <% end %>
    </div>
  </div>

  <footer>
    <button type="submit" class="gradient-btn" id="btn-submit">Upload</button>
  </footer>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#upload-btn").on('click', function(event) {
      event.preventDefault();
      $("#file").trigger('click');
    });

    $("#click-here").on('click', function(event) {
      $('#answerModal').modal('show');
      event.preventDefault();
    })

    $("#btn-submit").on('click', function(event) {
      $('#spinnerModal').modal('show');
      event.preventDefault();
      // await new Promise(r => setTimeout(r, 2000));
      setTimeout($('#document-form').submit(), 2000);
    })
  })

</script>